* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #10002b;
  padding: 0 16px;
}

/* ---------- HEADER ---------- */
.header {
  background-color: #3c096c;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

/* ---------- FOOTER ---------- */
.footer {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
}

.footer p {
  color: #ccc;
}

/* ---------- NOTE ---------- */
.note {
  /* background: #fff; */
  border:1px solid #5a189a;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  color: #fff;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* ---------- DELETE BUTTON (optional) ---------- */
.note button {
  float: right;
  margin-right: 10px;
  color: #3c096c;
  border: none;
  background: transparent;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

/* ---------- INPUT FORM ---------- */
form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  border: 1px solid #3c096c;
  /* background: #fff; */
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 6px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background-color: #10002b;
  color: #fff;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #5a189a;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.note button {
  float: right;
  color: #5a189a;
  border: none;
  background: transparent;
  cursor: pointer;
}
