/* 
.rectangle{
    width: 500px;
    height: 300px;
    position: relative;
    top:200px;
    left:200px;
    background-color: blue;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top:150px;
    left:250px;
    background-color: red;
} */
*{
    font-family:"Libre Baskerville", serif;
}
.rectangle1{
    width:500px;
    height:100px;
    background-color: sienna;

}
.rectangle1 h1{
    color:white;
    text-align: center;
}
.rectangle2{
    width: 498px;
    height: 100px;
    border: 1px solid black;
    position:relative;
    /* top:300px;
    left: 300px; */
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top:0px;
    left:190px;
    z-index: 100;
}
.rectangle2 h1{
    color:white;
    text-align: center;
    font-size:2rem;

}
.rectangle3{
    width:500px;
    height:100px;
    background-color:green
}