*{
    font-family: "Caveat", cursive;
}
div{
    height: 200px;
    width: 200px;
}
p{
    margin:0;
}
.first{
    background-color:cadetblue;
    padding: 20px;
    border:10px solid black;
}
.second{
    background-color:gold;
    border-top: 20px;
    border-bottom: 20px;
    border-left:10px;
    border-right:10px;
    border-style: solid;
    margin-left: 260px;
}
.third{
    background-color: indianred;
    border:10px solid black;
    margin-left:40px;
}