*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    background-color:cornsilk
}
h1{
    margin-top: 50px;
}
h2,h1{
    margin-top: 30px;
    color:crimson;
    text-align: center;
}
button{
    display:flex;
    background-color: goldenrod;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    margin: 20px auto;
    border: none;
}
footer{
    text-align: center;
    margin-top: auto;
}