*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
                background-color:cornsilk
        }
            h1{
                text-align: center;
                color:crimson;
                font-size: 1.5rem;
                font-weight: 800;
                padding: 10px;
                margin: 10px;
            }
.task-template{
            display: flex;
            /* justify-content:space-between; */
            padding: 10px;
            flex-direction: column;
            width: 600px;      
            margin: 0 auto;    
}
.task-card{
     display: flex;
            flex-direction: column;
            width: 800px;
            height: auto;
            border: 2px solid burlywood;
            border-radius: 10px;
            margin-bottom: 20px;
}
.task-status{
      font-style: italic;
            /* justify-content: end; */
            margin-left: auto; 
            padding: 5px;
            padding-right: 5px;
            border-radius: 5px;
            background-color: chocolate;
            color: #fff;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

a,
button {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button{
  display: block;
  text-align: center;
  width:100px;
}

a,
button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

a.edit {
  background-color: #007bff;
  /* margin-right: 10px; */
}

a.delete {
  background-color: #e74c3c;
}

a.delete:hover {
  background-color: #c0392b;
}

#newtaskbtn {
  margin: 20px 0;
  background-color: #2ecc71;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#newtaskbtn {
  background-color: #27ae60;
}
