*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-image: url(../image.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1{
    color:sienna;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height:300px;
    border-radius: 10px;
    background-color:rgb(227, 233, 237);
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: 90px; */
    /* margin-left:90px;
    margin-top: ; */
    
    /* align-items: center; */
}
#score {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: steelblue;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    position: absolute;
    top: 20px;
    left: 20px;
}
#question{
    color: salmon;
    font-size: 1.5rem;
    font-weight: 800;
    position: relative;
    top: -40px;

}
input {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
}
button{
    border-radius: 5px;
    background-color: teal;
    border: 1px solid black;
    margin-top: 30px;
    width: 80px;
    height: 45px;
}
.box {
  position: relative;
  top: 10px;
  left: 20px;
}